*{
    margin: 2px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search input{
    width: 400px;
    height: 40px;
    border-radius: 10px;
}
.search img{
    width: 20px;
    height: 20px;
    
   
}
.together{
    width: 150px;
    height: 50px;
    background-color: green;
    border-radius: 10px;
    color: white;
}