.webpage{

}
.spotify_bar{
    height: 200px;
    width: 200px;
    
    
}
.spotify_logo svg{
    color:inherit;
    
}

.home svg{
    height: 30px;
    width: 30px;
    color: white;

}
.search svg{
    height: 30px;
    width: 30px;
    color: white;
}
.home span{
    color: white;
}
.search span{
    color: white;
}
.nav_bar{
   background-color: blue;
   width: 1080px;
   height: 30px;
   display: flex;
   justify-content: flex-end;
  
    position: absolute;
    top: 20px;
    right: 10px;
    
}
.signup{
    width: 100px;
  
}
.signup span{
    color: white;
}
.login{
    width: 100px;
}
.login span{
    color: white;
}